@using ERPProject.Entity.DTO.RequestDTO;
@using ERPProject.Entity.Result;
@model ApiResponse<RequestDTOResponse>
@{
    ViewData["Title"] = "İstekler";
    ViewData["baslik"] = "İstekler";
    ViewData["buttonismi"] = "Talep Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    
}
<div class="container col col-md-9 py-3">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Talepler
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div id="example_filter" class="dataTables_filter">
                        <div id="notFoundMessage1" class="text-danger" style="display: none;">Sonuç bulunamadı...</div>
                    </div>
                    <table id="example" class="table table-bordered border-dark">
                        <thead>
                            <tr>
                                <th scope="col">User Id</th>
                                <th scope="col">Accepted Id</th>
                                <th scope="col">Talep Adı</th>
                                <th scope="col">Talep Açıklaması</th>
                                <th scope="col" style="width:100px ">İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Data==null)
                            {
                                <tr>
                                <td></td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>@Model.Data.UserId</td>
                                    <td>@Model.Data.AcceptedId</td>
                                    <td>@Model.Data.Title</td>
                                    <td>@Model.Data.Description</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                İşlemler
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li>
                                                    <a class="dropdown-item" data-bs-toggle="modal"
                                                       data-bs-target="#staticBackdrop1"
                                                       data-id="item.Id"
                                                       data-userid="item.UserId"
                                                       data-acceptedid="item.AcceptedId"
                                                       data-name="item.Title"
                                                       data-description="item.Description">Talep Düzenle</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" data-bs-toggle="modal"
                                                       data-bs-target="#staticBackdrop1"
                                                       data-id="item.Id"
                                                       data-userid="item.UserId"
                                                       data-acceptedid="item.AcceptedId"
                                                       data-name="item.Title"
                                                       data-description="item.Description">Talep Detay Ekle</a>
                                                </li>
                                                <li><hr class="dropdown-divider text-danger"></li>

                                                <li><a class="dropdown-item text-danger" onclick="confirmRolDelete(item.Id)">Sil</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                            

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Önceki Talepler
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div id="example_filter" class="dataTables_filter">
                        <div id="notFoundMessage" class="text-danger" style="display: none;">Sonuç bulunamadı...</div>
                    </div>
                    <table id="example" class="table table-striped" style="width:100%">
                     
                           
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Talep Oluştur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/Admin/TalepEkle" method="post">
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">User Id</span>
                        <input autocomplete="off" type="text" class="form-control" placeholder="UserId..." value="" id="inputUserId" name="UserId" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Accepted Id</span>
                        <input autocomplete="off" type="text" class="form-control" placeholder="AcceptedId..." id="inputAccepteId" name="AcceptedId" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-cart"></i></span>
                        <input autocomplete="off" type="text" class="form-control" placeholder="Ürün İsmi..." id="inputTalepAd" name="Title" aria-describedby="basic-addon1" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-info-circle"></i></span>
                        <textarea autocomplete="off" style="min-height:150px; max-height:150px;" type="text" class="form-control" placeholder="Ürün Açıklaması..." id="inputAciklama" name="Description" aria-describedby="basic-addon1" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>

                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static1" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Talep Düzenle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/Admin/TalepGuncelle" method="post">
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Id</span>
                        <input autocomplete="off" type="text" class="form-control" placeholder="UserId..." id="inputId" name="Id" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">User Id</span>
                        <input autocomplete="off" type="text" class="form-control" placeholder="UserId..." id="inputUserId1" name="UserId" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Accepted Id</span>
                        <input autocomplete="off" type="text" class="form-control" placeholder="AcceptedId..." id="inputAcceptedId1" name="AcceptedId" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-cart"></i></span>
                        <input autocomplete="off" type="text" class="form-control" placeholder="Ürün İsmi..." id="inputTitle1" name="Title" aria-describedby="basic-addon1" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-info-circle"></i></span>
                        <textarea autocomplete="off" style="min-height:150px; max-height:150px;" type="text" class="form-control" placeholder="Ürün Açıklaması..." id="inputDescription1" name="Description" aria-describedby="basic-addon1" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>

                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function confirmRolDelete(id) {
        var result = confirm("Bu yetkiyi silmek istediğinizden emin misiniz?");
        if (result) {
            window.location.href = 'MarkaSil/' + id;
        }
    }
    $('#staticBackdrop1').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        var userid = button.data('userid');
        var acceptedid = button.data('acceptedid');
        var title = button.data('name');
        var description = button.data('description');
        $("#inputId").val(id);
        $("#inputUserId1").val(userid);
        $("#inputAcceptedId1").val(acceptedid);
        $("#inputTitle1").val(title);
        $("#inputDescription1").val(description);
    });
        
</script>
<style>
</style>
