@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Giris Yap";
}
<div class="container">
    
    <div class="bg-light d-flex flex-row align-items-center">

        <div class="container">
            <br></br>
            <br></br>
            <p style="position:absolute; right:700px;"> BURAYA BİR LOGO EKLENECEK</p>
            <br></br>
            <br></br>
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="card-group d-block d-md-flex row">
                        <div class="card col-md-7 p-4 mb-0">
                            <div class="card-body">
                                <h1>Giriş Yap</h1>
                                <p class="text-medium-emphasis">Bilgileriniz ile giriş yapabilirsiniz...</p>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                    </span>
                                    <input class="form-control" type="email" name="Email" id="Email" placeholder="Email..." required>
                                </div>
                                <div class="input-group mb-4">
                                    <span class="input-group-text">
                                    </span>
                                    <input class="form-control" type="password" name="Password" id="Password" placeholder="Sifre..." required>
                                </div>
                                ﻿@if (!string.IsNullOrEmpty(ViewBag.LoginError))
                                {
                                    <div class="alert alert-danger" role="alert">
                                        @ViewBag.LoginError
                                    </div>

                                }
                                <div class="row">
                                    <div class="col-12">
                                        <button class="btn btn-primary px-4" type="submit">Giriş Yap</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>