@using ERPProject.Entity.DTO.UserDTO
@model UserDTOResponse
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewData["baslik"] = "Anasayfa";
}
<script>
    document.getElementById('SearchBtn').style.display = 'none';
</script>
<h1>@Model.Name @Model.LastName Sisteme Hoşgeldin.</h1>

